# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
env/
venv/

# config
destinataire.json

# Logs
*.log
*.jsonl
pandafire_decision_log.json
extraction_log.jsonl

# OS
.DS_Store
Thumbs.db

# OCR temp files
*.png
*.jpg

# pdf file
*.pdf