# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
env/
venv/

# config
destinataire.json
settings.json

# Logs
*.log
*.jsonl
jsonl_to_csv.py
pandafire_decision_log.json
extraction_log.jsonl

# OS
.DS_Store
Thumbs.db

# OCR temp files
*.png
*.jpg

# pdf file
*.pdf

# benchmark
benchmark_1.py
benchmark_2.py