annotated-doc==0.0.4
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==46.0.7
dateparser==1.4.0
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.2
pdfminer.six==20251230
pillow==12.2.0
pycparser==3.0
Pygments==2.20.0
PyMuPDF==1.27.2.3
pypdfium2==5.7.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2026.2
regex==2026.4.4
rich==15.0.0
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
typer==0.25.1
tzdata==2026.2
tzlocal==5.3.1
wheel==0.47.0
